/* test */
.test {
    color: blueviolet;
}

:root {
    --primary-background-color : white; 
    --btn-background-color : #19B87E;
    --btn-hover-color : #2C92B8;
    --btn-hover-font-color : aliceblue;
}

/* body */
.body {
    background-color: var(--primary-background-color);
    margin: 0px;
    padding: 0px;
    border: 3px solid green;
}

/* navbar section */
.container {
    display: grid;
    grid-template-areas: 
    "navbar-container content"
    "footer footer";
    grid-template-columns: 1fr 5fr;

}
/* layout for grid area */
.container nav.navbar-container {
    grid-area: navbar-container;
    text-align: center;
}
.container div.content {
    grid-area: content;
    text-align: center;
}
.container footer.footer {
    grid-area: footer;
    text-align: center;
}

/* navbar-container menu section */
.navbar-column-one {
    /* border: 2px solid saddlebrown; */
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-align: center;
}
.profilePicture {
    display: block;
    width: 45%;
    border-radius: 10px;
    margin: 0 auto;
}
.portfolio-detail a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.portfolio-detail a i {
    padding: 10px;
}
.talkMe i {
    font-size: 24px;
    padding: 6px;
}

/* content section */
.content-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

/* header */
.filter {
    display: inline-block;
    /* border: 2px solid gray; */
}
.header-filter-btn {
    display: inline;
}
.header-filter-btn button {
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    /* border-radius: 10px; */
    letter-spacing: 1px;
    border: none;
    background-color: var(--btn-background-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    margin: 0 6px;
    display: inline;
}
.header-filter-btn i {  
    float: left;
    margin: 0px 0px 0px 10px;
    /* border: 2px solid saddlebrown; */ 
}
.header-filter-btn ::after{
    content: "";
    clear: both;
    /* display: table; */
}
.header-filter-btn :hover {
    background-color: var(--btn-hover-color) !important;
    color: var(--btn-hover-font-color) !important;
    cursor: pointer;
}



