/* test */
.test {
    color: blueviolet;
}

/* body */
.body {
    background-color: #E1E2ED;
    margin: 0px;
    padding: 0px;
}

/* navbar section */
.container {
    display: grid;
    grid-template-areas: 
    "navbar-container content"
    "footer footer";
    grid-template-columns: 1fr 5fr;

}
/* layout for grid area */
.container nav.navbar-container {
    grid-area: navbar-container;
    text-align: center;
}
.container div.content {
    grid-area: content;
    text-align: center;
}
.container footer.footer {
    grid-area: footer;
    text-align: center;
}

/* navbar-container menu section */
.navbar-column-one {
    border: 2px solid saddlebrown;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 4px 10px;
}
.profilePicture {
    width: 45%;
    border-radius: 10px;

}
.portfolio-detail a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.portfolio-detail a i {
    padding: 10px;
}
.talkMe i {
    font-size: 24px;
    padding: 6px;
}

/* content section */
.content-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

/* header */
.header-filter button {
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
}
.header-filter button i {
    padding: 10px;
    margin: 0pxs;
}
