/* test */
.test {
    color: blueviolet;
}

:root {
    --primary-background-color : white; 
    --btn-background-color : #19B87E;
    --background-card-color :  #f2f2f2;
    --background-second-panel-color : #E8E8E8;
    --background-color : #080808;

    --btn-font-color : #04AA6D;
    --btn-background-color_1 : #2196F3;
    --btn-background-color_2: #0054D1;
    --btn-background-color_3 : tomato;

    --btn-hover-color : #2C92B8;
    --btn-hover-color_1: rgba(255, 99, 71, 0.5);
    --btn-hover-font-color : aliceblue;
    --card-navbar-aTag-color: #F87C63;
    
    --btn-pagination-border-color : #808080;
    
    --title-font-size: 22px;
    --sub-title-font-size: 16px;
    --btn-font-size: 13px;
    --letter-spacing: 3px;
    --text-transform: uppercase;
    --font-weight: bolder;
    
}

/* body */
.body {
    background-color: var(--primary-background-color);
    margin: 0px;
    padding: 0px;
    /* border: 3px solid green; */
    width: 100%;
    box-sizing: border-box;
}

/* navbar section */
.container {
    display: grid;
    grid-template-areas: 
    "navbar-container content"
    "footer footer";
    grid-template-columns: 1fr 5fr;

}
.card-navbar {
    /* border: 2px solid greenyellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    margin: 16px;
}
/* layout for grid area */
.container nav.navbar-container {
    grid-area: navbar-container;
    text-align: center;
}
.container div.content {
    grid-area: content;
    text-align: center;
}
.container footer.footer {
    grid-area: footer;
    text-align: center;
}

/* navbar-container menu section */
.navbar-column-one {
    /* border: 2px solid saddlebrown; */
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-align: center;
}
.profilePicture {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: 2px solid sandybrown; */
}
.portfolio-detail a {
    /* border: 2px solid hotpink; */
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.portfolio-detail :hover {
    background-color: var(--card-navbar-aTag-color);
    color: var(--btn-hover-font-color);
    border-radius: 4px;
}
.portfolio-detail a i {
    padding: 10px;
}
.talkMe {
    /* border: 2px solid greenyellow; */
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.talkMe i {
    /* border: 2px solid slategray; */
    font-size: 24px;
    padding: 6px;
    display: inline;
    padding: 10px 8px;

}
.talkMe :hover {
    font-size: 40px;
    background-color: var(--card-navbar-aTag-color);
    color: var(--btn-hover-font-color);
    margin: 0px 10px 6px 10px;
    border-radius: 8px;
}

/* content section */
.content {
    background-color: var(--background-second-panel-color);
}
.content-title {
    /* border: 2px solid red; */
    width: auto;
    margin: 10px;
}
.content-header {
    /* border: 2px solid yellow; */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

/* header */

.filter {
    display: inline-block;
    /* border: 2px solid gray; */
}
.header-filter-btn {
    display: inline;
}
.header-filter-btn button {
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    /* border-radius: 10px; */
    letter-spacing: 1px;
    border: none;
    background-color: var(--btn-background-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    margin: 0 6px;
    display: inline;
}
.header-filter-btn i {  
    float: left;
    margin: 0px 0px 0px 10px;
    /* border: 2px solid saddlebrown; */ 
}
.header-filter-btn ::after{
    content: "";
    clear: both;
    /* display: table; */
}
.header-filter-btn :hover {
    background-color: var(--btn-hover-color) !important;
    color: var(--btn-hover-font-color) !important;
    cursor: pointer;
}

/* first photo grid */
.column-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    margin: 20px;
}
.column-photo-card {
    flex: 1;
    min-width: 30%; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-card-color);
    padding: 14px;
}
.column-photo-card img {
    max-width: 100%;
}
.column-photo-card img:hover {
    /* border: 2px solid sienna; */
    opacity: 0.5;
}
.column-photo-card p {
    display: inline;
}
.column-photo-card button {
    /* border: 2px solid slateblue; */
    border: var(--background-card-color);
    color: var(--background-card-color);
    background-color: var(--btn-background-color_2);
    font-weight: bold;
    float: right;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    margin: 2px;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0 0 50px 0;
}
.pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid var(--btn-pagination-border-color);
    color: var(--background-color);
    margin: 0 4px;
    border-radius: 4px;
}
.pagination li a.active-pagination {
    background-color: var(--btn-background-color);
    color: var(--background-card-color);
}

/* about me */

.about_me {
    /* border: 2px solid slategrey; */
    max-width: 100%;
    margin: 30px 0 0 0;
}
.about_me > p:first-child {
    font-size : var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    font-weight: var(--font-weight);
    display: flex;
    justify-content: center;
}
.about_me-img {
    /* border: 2px solid gold; */
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.about_me-img img {
    width: 45%;
    margin: 6px auto;
}
.about_me > p:nth-child(3) {
    /* border: 2px solid sienna; */
    text-indent: 70px;
    text-align: justify;
    padding: 0 30px;
}
.technical-skills > p:first-child {
    font-size: var(--title-font-size);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight);
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}
.mySkill {
    /* border: 2px solid sienna; */
    max-width: 90%;
    margin: 2px auto;
}
.mySkill-container p {
    /* border: 2px solid seagreen; */
    margin: 6px 0;
    padding: 4px;
    font-size: var(--sub-title-font-size);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);

}
.my-skill {
    background-color: var(--btn-pagination-border-color);
}
.html {
    width: 90%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
.js {
    width: 92%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
.bs {
    width: 88%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
.php {
    width: 80%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
.laravel {
    width: 70%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
.vue {
    width: 76%;
    background-color: var(--btn-font-color);
    text-align: center;
    color: var(--background-card-color);
    height: auto;
    padding: 8px 0;
}
/* download Resume */
.download-resume {
    /* border: 2px solid aqua; */
    max-width: 90%;
    margin: 10px auto;
}
.download-resume button {
    padding: 10px 14px;
    background-color: var(--btn-background-color_3);
    color: var(--background-card-color);
    border-radius: 4px;
    font-size: var(--btn-font-size);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    width: auto;
    font-weight: var(--font-weight);
    border: #E8E8E8;
}
.download-resume button i {
    font-size: var(--title-font-size);
    padding: 0 6px;
}
.download-resume button:hover {
    background-color: var(--btn-hover-color_1);
    color: var(--background-color);
}

/* pricing table */
.pricing {
    border: 2px solid salmon;
    width: 90%;
    margin: 0 auto;
}
.pricing-title p{
    /* border: 2px solid red; */
    text-align: center;
    font-size: var(--title-font-size);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight);
    margin: 30px 0 10px 0;
}

.pricing > div:last-child {
    border: 2px solid skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 90px; */
    flex-wrap: wrap;
    /* padding: 20px; */
}
.pricing {
    margin: 0 auto;
    text-align: center;
    border: 1px solid sienna;
    border-radius: 8px;
    padding: 20px;
}
.price {
    border: 2px solid slateblue;
    /* list-style: none; */
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    width: 100%;
}
.price > li:first-child {
    border: 2px solid goldenrod;
    font-weight: var(--font-weight);
    text-align: center;
}
