/* test */
.test {
    color: blueviolet;
}

:root {
    --primary-background-color : white; 
    --btn-background-color : #19B87E;
    --btn-hover-color : #2C92B8;
    --btn-hover-font-color : aliceblue;
    --card-navbar-aTag-color: #F87C63;
}

/* body */
.body {
    background-color: var(--primary-background-color);
    margin: 0px;
    padding: 0px;
    /* border: 3px solid green; */
    width: 100%;
}

/* navbar section */
.container {
    display: grid;
    grid-template-areas: 
    "navbar-container content"
    "footer footer";
    grid-template-columns: 1fr 5fr;

}
.card-navbar {
    /* border: 2px solid greenyellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    margin: 16px;
}
/* layout for grid area */
.container nav.navbar-container {
    grid-area: navbar-container;
    text-align: center;
}
.container div.content {
    grid-area: content;
    text-align: center;
}
.container footer.footer {
    grid-area: footer;
    text-align: center;
}

/* navbar-container menu section */
.navbar-column-one {
    /* border: 2px solid saddlebrown; */
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-align: center;
}
.profilePicture {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: 2px solid sandybrown; */
}
.portfolio-detail a {
    /* border: 2px solid hotpink; */
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.portfolio-detail :hover {
    background-color: var(--card-navbar-aTag-color);
    color: var(--btn-hover-font-color);
    border-radius: 4px;
}
.portfolio-detail a i {
    padding: 10px;
}
.talkMe {
    /* border: 2px solid greenyellow; */
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.talkMe i {
    /* border: 2px solid slategray; */
    font-size: 24px;
    padding: 6px;
    display: inline;
    padding: 10px 8px;

}
.talkMe :hover {
    font-size: 40px;
    background-color: var(--card-navbar-aTag-color);
    color: var(--btn-hover-font-color);
    margin: 0px 10px 6px 10px;
    border-radius: 8px;
}

/* content section */
.test-content {
    /* border: 2px solid red; */
    width: auto;
    margin: 10px;
}
.content-header {
    /* border: 2px solid yellow; */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

/* header */

.filter {
    display: inline-block;
    /* border: 2px solid gray; */
}
.header-filter-btn {
    display: inline;
}
.header-filter-btn button {
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    /* border-radius: 10px; */
    letter-spacing: 1px;
    border: none;
    background-color: var(--btn-background-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    margin: 0 6px;
    display: inline;
}
.header-filter-btn i {  
    float: left;
    margin: 0px 0px 0px 10px;
    /* border: 2px solid saddlebrown; */ 
}
.header-filter-btn ::after{
    content: "";
    clear: both;
    /* display: table; */
}
.header-filter-btn :hover {
    background-color: var(--btn-hover-color) !important;
    color: var(--btn-hover-font-color) !important;
    cursor: pointer;
}



